.page-title {
  text-align: center;
  margin: 15px;
  font-size: 400%;
}

.cta-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.cta-button {
  transition-duration: 0.4s;
  padding: 14px 40px;
}

.cta-button:hover {
  background-color: #8878c3;
  color: white;
}

.loading-gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.reincarnation-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.reincarnation-img {
  width: 650px;
  height: auto;
}

.pastlife-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.pastlife-img {
  max-width: 350px;
}

.about-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.loading-gif {
  width: 120px;
  height: auto;
}

.about-image {
  width: 250px;
  height: auto;
}

.tables-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

table {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 80%;
  background-color: white;
}

td {
  padding:10px;
}

th {
  font-family: Trattatello, fantasy;
  font-size: 175%;
  padding: 10px;
}

table:hover {
  background-color:	#D8BFD8;
}

.instruction-title {
  text-align: center;
  margin: 15px;
  font-size: 300%;
}

.instruction-text {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}


.App {
  background-color: #e6e8fa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.definition-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.about-page-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Trattatello, fantasy;
}

h2 {
  font-family: Trattatello, fantasy;
}

.uncovered-text {
  font-family: Trattatello, fantasy;
  font-size: 175%;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

.results-text {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}