.page-title {
  text-align: center;
  margin: 15px;
  font-size: 400%;
}

.cta-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.cta-button {
  transition-duration: 0.4s;
  padding: 14px 40px;
}

.cta-button:hover {
  background-color: #8878c3;
  color: white;
}


.instruction-title {
  text-align: center;
  margin: 15px;
  font-size: 300%;
}

.instruction-text {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}


.App {
  background-color: #e6e8fa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.definition-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Trattatello, fantasy;
}

h2 {
  font-family: Trattatello, fantasy;
}
